/*.col-sm-7{*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*float: none;*/
/*}*/
.commenterImage {
    width:30px;
    margin-right:10px;
    /*height:100%;*/
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:60%;
}

.col-sm-7#follows {
    margin-right: auto;
    margin-left: auto;
    float: none;
    width: 40%;
}

#pff li{
    display: inline;
    width: 100%;
    margin-right: 10%;
}

.badge{
    font-size: 16px;
}

.col-sm-5#updateprofile{

    margin-right: auto;
    margin-left: auto;
    float: none;
}